body {
    width: 1920px;
    margin: 0 auto;
    background: #E5E5E5
}

.container {
    width: 1460px;
    margin: 0 auto;
}

.container-title {
    background: #E5E5E5
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 46px;
    margin-bottom: 128px;
    height: 33px;
    width: 216px;
}

.btn {
    height: 30px;
    margin-top: 46px;
    padding: 10px 20px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
}

a img {
    padding-right: 10px;
}

h2 {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFF;
}

p {
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(7, 220px);
    grid-template-rows: repeat(2, 468px);
    gap: 30px;
    height: 960px;
    width: 1460px;
    font-family: Gilam;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 160px;
    color: white;
}

.grid1 {
    background: #634F2C;
    grid-column: 1 / 3;
}

.grid2 {
    background: #B4A385;
    grid-column: 3 / 5;
}

.grid3 {
    background: #E4B564;
    grid-column: 5 / 7;
}

.grid4 {
    background: #635A4A;
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.grid5 {
    background: #B08C4D;
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}

/* Втрая секция */

.title {
    margin-bottom: 95px;
}

.main-section {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 467px); 
    grid-template-rows:repeat(17,1fr);
    /* grid-template-rows: 313px 440px 225px 560px 405px 313px 277px; */
    font-family: 'Gilam';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: white;
    margin-bottom: 190px;
}

.main1 {
    background: #0E0E0E;
    grid-row: 1 / 7;
    grid-column: 1 / 2;
}

.main2 {
    background: #242424;
    grid-row: 1 / 10;
    grid-column: 2 / 3;
}

.main3 {
    background: #1F1F1F;
    grid-row: 1 / 5;
    grid-column: 3 / 4;
}

.main4 {
    background: #1F1F1F;
    grid-row: 7 / 18;
    grid-column: 1 / 2;
}

.main5 {
    background: #E4B564;
    grid-row: 10 / 17;
    grid-column: 2 / 3;
}

.main6 {
    background: #0E0E0E;
    grid-row: 5 / 13;
    grid-column: 3 / 4;
}

.main7 {
    background: #0A0909;
    grid-row: 13 / 18;
    grid-column: 3 / 4;
}

/* Третья секция */

.footer {
    display: flex;
    justify-content: space-between;
    background: #0E0E0E;
    padding-top: 170px;
    padding-bottom: 70px;
}

.btn-footer {
    height: 50px;
    width: 180px;
    font-family: 'Circe';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    background: #0E0E0E;
}

.section-footer {
    display: grid;
    grid-template-columns: repeat(3, 480px);
    grid-template-rows: repeat(2, 390px);
    background: #0E0E0E;
    
}

.section1 {
    background: #634F2C;
}

.section2 {
    background: rgba(232, 210, 171, 0.76);
}

.section3 {
    background: #E4B564;
}

.section4 {
    background: #635A4A;
}

.section5 {
    background: #B08C4D;
}

.section6 {
    background: #634F2C;
}